#container{
  margin:0 auto;
  border: 1px solid black;
  height:100vmin;
  width:100vmin;
  display:grid;
  grid-template-rows: repeat(10,1fr);
  grid-template-columns: repeat(10,1fr);
 
}
#container div{
  display:flex;
  align-items: center;
  justify-content: center;
 /* border:1px solid black*/
}
