:root {
  --blue: rgb(83, 112, 206);
}
body {
  height: 100%;
  
  background-color: white;
  font-family: 'roboto', 'sans-serif';
  background-image: linear-gradient(
    180deg,
    rgb(137, 151, 192),
    rgba(158, 158, 158, 0.5)
  );
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(2em + (1) * ((100vw - 300px) / (1300 - 300)));
}

.intro {
  margin-top: 10vh;
  height: 100vh;
  
}
h4 {
  color: var(--blue);
}
h1,
h3,
h4,
a {
  font-family: 'Seymour One', sans-serif;
}
.name {
  color: rgb(63, 62, 62);
}
.whoami {
  text-align: center;
  height: 100vh;
}
.contents_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paragraph {
  text-align: left;
  margin: 10px 300px;
}
.link_container {
  display: flex;
  height: 20vh;
  width: 65vw;
  
  justify-content: space-between;
}

.link {
  height: 20vh;
  width: 30vh;
  border-radius: 5px;
  border: 1px solid rgb(104, 102, 102);
}
a {
  text-decoration: none;
  color: var(--blue);

  text-align: center;
}
.identity{
  display:flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:1430px) , (max-width:300px){
  body {
    height: 100%;
    width:100%;
    margin:0;
    font-family: 'roboto', 'sans-serif';
    background: linear-gradient(
      180deg,
      rgb(96, 128, 221),
      rgba(112, 33, 33, 0.5)
    );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(2em + (1) * ((100vw - 300px) / (1300 - 300)));
    overflow-x:hidden;
  }
  .link_container {
    display: flex;
    height: 100vh;
    width: 65vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .whoami {
    text-align: center;
    height: 100vh;
  }
  .paragraph{
    margin:0 50px;
  }
  .link{
    font-size: .6em;
  }
  .intro {
    margin-top: 10vh;
    height: 100vh;
    text-align: center;
  }
}
