body {
  margin: 0;
  padding: 0;
  background-color: #cce2cb;
  height: 100vh;

  font-family: monospace;
  font-size: 1.2em;
}
nav {
  z-index: 2;
  height: 6vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  transition: 0.2s;
}
nav:hover {
  height: 7vh;
  width: 100%;
  background-color: #cce2cb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
.name {
  margin-left: 320px;
}
.tabs {
  margin-right: 50px;
}
.tabs_container {
  display: flex;
  height: 5vh;
  width: 150px;

  justify-content: space-between;
  position: relative;
  align-items: center;
  right: 200px;
}
.contents_container {
  height: 100vh;
  width: 30vh;
  position: fixed;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.contents {
  height: 7vh;
  width: 200px;
  background: white;
  margin-bottom: 10px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  transition: 0.2s;
}
.contents:hover {
  height: 7vh;
  width: 200px;
  background: #97c1a9;
  margin-bottom: 10px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 10px 10px 8px #888888;
}
.contents:nth-last-of-type(1) {
  margin-bottom: 15vh;
}
.intro {
  z-index: 1;
  position: fixed;
  top: 17vh;
  left: 100px;
  font-size: 1.5em;
  height: 100px;
  width: 700px;
  line-height: 20px;
}
.developer {
  color: rgb(139, 13, 97);
}
.lastname {
  color: orange;
}
.whoami {
  position: absolute;
  top: 25vh;
  left: 100vh;

  width: 700px;
  height: 300px;
}
h2 {
  font-size: 1em;
  font-family: 'Courier New';
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 6vh;
  cursor: pointer;
}
.contact {
  cursor: pointer;
}
.contents:nth-last-of-type(3){
  height: 8vh;
  width: 200px;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;

  overflow: hidden;
  transition: .5s ease;
  
}
.contents:nth-last-of-type(3):hover{
  height: 8vh;
  width: 300px;
   overflow: hidden;
}
a{
  text-decoration: none;
  color:black;
}
