@media (max-width:1200px) {
  #desktop-nav{
    position:fixed;
    display:none;
  }
  #hamburger-nav{
    display:flex;
    justify-content: space-around;
    position:fixed;
    width:100%;
    background-color: white;
  }
  .reflection_container{
    gap:30px;
    height:100vh;
    display:flex;
    justify-content: center;
  }
  .reflection{
    display:flex;
    justify-content: center;
    align-items: center;
    height:150px;
    width:150px;
    border:1px solid black;
    border-radius:10px;
    
    
  }
}
