body{
  background-color: rgb(23, 22, 29);
  margin:0;
  padding:0;
}
.main_container{
  height:100%;
  width:100%;
  background-color: rgb(23, 22, 29);
  color:rgb(233, 217, 217);
  
}
.nav_container{
  z-index:1;
  height:7vh;
  width:100%;
  background-color: black;
  color:azure;
  font-family: 'Roboto','sans-serif';
  font-size:.7em;
  display:flex;
  align-items: center;
  position:fixed;

  
}
p{
  color:antiquewhite
}

.profile{
  border-radius:50%;
  height:40px;
  width:40px;
  margin-left:10px;
  margin-right: 10px;
}
#links{
  font-size: 2em;
  margin:0 auto;
  color: white;
  position:absolute;
  
  
  left: 50%;
  transform: translate(-50%);
}
.topics{
  margin-left:1px;
  
}

.home{
  margin-left: 1px;
}
a{
  text-decoration:none;
  color:white;
}
.toggle{
  padding:7px;
}
.toggle:hover{
  background:rgb(60, 60, 63);
  padding:6px;
  border-radius:10px;
  border:1px solid gray;
  
}
.border_bottom{
padding-bottom:8px;
height:100%;
  border-bottom:4px solid blue;
  
}
.left_nav{
  position:fixed;
  height:100vh;
  width:199px;
  display:absolute;
 display:flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
  background-color: rgb(39, 35, 59);
  border-right:1px solid white;
 
}
.left{
  height:50px;
  width:100%;
  text-align: center;
  color:white;
  border:1px solid white;
  display:flex;
  justify-content: center;
  align-items:center;
}

.left:hover{
background-color:rgb(56, 48, 97); 
cursor:pointer;
}

section{
  position:absolute;
  top:60px;
  left:300px;
  right:50px;
}
.image1{
  height:20vh;
  width:50vw;
  margin:10px auto;
  
}

